[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "==3.5.4"
aiohttp-jinja2 = "==1.1.1"
uvloop = "==0.12.2"
aioreloader = "==0.2.2"
pyyaml = "==5.1.1"
asyncpg = "==0.21.0"
asyncpgsa = "==0.26.0"

[requires]
python_version = "3.7"
